
        body {
            height: 100%;
            font-family: 'Abel' !important;
            padding: 40px;
        }

        .form p {
            color: #858282;
            text-align: justify;
        }

        .form {
            font-size: 1.1em;
        }

        .form-items{
            display: flex;
            flex-direction: row;
            justify-content: space-between;

        }
        .form__item{
            padding-bottom: 5px !important;
        }

        .form h1 {
            font-size: 1.2em;
            font-weight: 600;
        }

        .form * {
            box-sizing: border-box;
            line-height: 1.5;
        }

        .form__title {
            font-size: 2em;
            font-weight: 600;
        }

        .form__item {
            display: flex;
            flex-direction: column;
        }

        .form__item>* {
            align-self: flex-start;
        }

        .form__label {
            font-weight: 600;
        }

        .form__input {
            -webkit-appearance: none;
            width: 100%;
            padding: 0.4em;
            font-size: 1em;
            font-family: 'Abel' !important;
            outline: none;
            border: 1px solid #dddddd;
            border-radius: 4px;
            background: #f9f9f9;
            min-width: 450px;
            transition: background 0.25s, border-color 0.25s, color 0.25s;
        }

        .form__inputx {
            -webkit-appearance: none;
            width: 100%;
            padding: 0.4em;
            font-size: 1em;
            font-family: 'Abel' !important;
            outline: none;
            border: 1px solid #dddddd;
            border-radius: 4px;
            background: #f9f9f9;
            min-width: 402px;
            transition: background 0.25s, border-color 0.25s, color 0.25s;
        }

        .form__input:focus {
            background: #ffffff;
        }

        .form__input::placeholder {
            color: #bbbbbb;
        }

        .form__input--small {
            -webkit-appearance: none;
            width: 100%;
            padding: 0.4em;
            font-size: 1em;
            font-family: 'Abel' !important;
            outline: none;
            border: 1px solid #dddddd;
            border-radius: 4px;
            background: #f9f9f9;
            transition: background 0.25s, border-color 0.25s, color 0.25s;
        }

        .form__input--small:focus {
            background: #ffffff;
        }

        .form__input--small::placeholder {
            color: #bbbbbb;
        }

        .form__btn {
            font-weight: 600;
            font-size: 1.1em;
            padding: 10px 16px;
            margin: 10px 0;
            color: #ffffff;
            background: rgb(253, 44, 89);
            border: 2px solid rgb(253, 44, 89);
            border-radius: 5px;
            cursor: pointer;
            outline: none;
        }

        .form__btn:active {
            background: rgb(253, 44, 89);
        }

        /* Reset Select */
        select {
            -webkit-appearance: none;
            -moz-appearance: none;
            -ms-appearance: none;
            appearance: none;
            outline: 0;
            box-shadow: none;
            border: 0 !important;
            background: #f9f9f9;
            background-image: none;
            flex: 1;
            padding: 0 .5em;
            color: #5c5a5a;
            cursor: pointer;
            font-size: 1em;
            width: 100%;
            border-radius: 4px;
        }

        /* Remove IE arrow */
        select::-ms-expand {
            display: none;
        }

        .select-one {
            margin-bottom: 12px;
        }

        /* Custom Select */
        .select {
            position: relative;
            display: flex;
            width: 100%;
            height: 2.7em;
            line-height: 3;
            background: #f9f9f9;
            overflow: hidden;
            border-radius: .25em;
            min-width: 450px;
        }

        /* Arrow */
        .select::after {
            content: '\25BC';
            position: absolute;
            top: 0;
            right: 0;
            padding: 0 .6em;
            background: #f9f9f9;
            cursor: pointer;
            pointer-events: none;
            -webkit-transition: .25s all ease;
            -o-transition: .25s all ease;
            transition: .25s all ease;
        }

        /* Transition */
        .select:hover::after {
            color: #f39c12;
        }

        @media screen and (max-width:1020px) {
            .form__input {
                min-width: 260px;             
            }
            .form__inputx{
                min-width: 210px;  

            }

            .select {
                min-width: 260px;
            }
        
        }

        @media screen and (max-width:770px) {
            .form__input {
                min-width: 200px;             
            }
            .form__inputx{
                min-width: 150px;  

            }

            .select {
                min-width: 200px;
            }

        }

        @media (min-width:500px) and (max-width:770px) {
            .form__input {
                min-width: 100px !important;
            }
            .form__inputx{
                min-width: 50px;  

            }

            .select {
                min-width: 210px !important;
                padding-right: 10px !important;
            }
            
        }


        @media screen and (max-width:500px) {
            body {
                padding: 0 !important;
                margin: 0 !important;
            }

            .form__title h1 {
                font-size: 1em !important;
            }

            .form-items {
                display: flex;
                flex-direction: column;
            }

            .form__input {
                width: 100%;              
            }
            .form__inputx{
               width: 100% !important;
            }
           

            .select {
                width: 100%;
            }

        }

        #require{
            color: rgb(253, 44, 89);
            font-weight: 900;
        }
        .formNo{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
        .x{
            display: flex;
            flex-direction: row;
        }
        .x select{
            width: 50px;
            height: 2.6em !important;
            border-radius: none !important;
            margin-right: 5px !important;
           flex-grow: 2 !important;
        }
      
     